**/build
**/config/**
*.class
*.dex
*.hprof
*.iml
*.ipr
*.iws
*/build
.gradle
.gradle/*
.idea/*
/.idea
/build
/gradle.properties
/local.properties
/reports
DS_Store
bin/
captures/
checkstyle.xml
classes
gen/
gradle.properties
local.properties
pom.xml.*
target